<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Homepage</title>
</head>
<body>
    <div class="app-name">
        <h2><i class="fa fa-camera-retro"></i> IMAGE SHARE</h2>
    </div>

    <div class="container">
        <a href="#"><i class="fa fa-user-circle"></i> {{user}}</a>
        <a href="/"><i class="fa fa-address-card-o"></i> PROFILE</a>
        <a href="/logout/"><i class="fa fa-sign-out"></i> LOG OUT</a>
    </div>
    <div class="search-bar">
        <form action="#">
            <input type="text" placeholder="Enter an image catagory here..">
            <input type="submit" value="SEARCH">
        </form>
    </div>
    <div class="gallery">
        {% for image in images %}
            <div class="repeat">   
                <p id="info">Posted by <a href="{% url 'onclick' image.user %}"><i> {{image.user}}</i></a></p>
                <p id="info"> on {{image.date}}</p>
                <img src="{{image.photo.url}}" alt=""><br>
                <a href="{{image.photo.url}}" download="{{image.photo.url}}" ><button id="dwn">Download <i class="fa fa-download"></i></button></a>
            </div>
        {% endfor %}
    </div>
    <br><br>
</body>
</html>