{% include 'header.html' %}
    <title>Dashboard</title>
</head>
<body>
    <div class="app-name">
        <h2><i class="fa fa-cloud-download"></i> IMAGE SHARE</i> <i class="fa fa-cloud-upload"></i></h2>
    </div>

    <div class="container">
        <a href="#"><i class="fa fa-user-circle"></i> {{user}}</a>
        <a href="/"><i class="fa fa-home"></i> HOME</a>
        <a href="/logout/"><i class="fa fa-sign-out"></i> LOG OUT</a>
    </div>

    <div class="mobile-dash">
        {% for ui in userinfo %}
        <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" id="profile-pic"><br><br>
        <p><i class="fa fa-user-o"></i><strong> Username: </strong>{{ui.user}}</p><br>
        <p><i class="fa fa-envelope-open-o"></i><strong> Email: </strong> {{ui.email}}</p><br>
        <p><i class="fa fa-info-circle"></i><strong> About: </strong> {{ui.about}}</p><br>
        <p><i class="fa fa-leaf"></i><strong> Contribution: </strong> {{images|length}} images</p><br>
        <p><i class="fa fa-feed"></i><strong> Followers: </strong>{{ui.followers.count}}, <strong>Followings: </strong>{{ui.followings.count}}</p><br>
    {% endfor %}
    {% if not visitor %}
        <a href="/editprofile/"><p><i class="fa fa-edit"></i><strong> Edit Profile</strong></p></a><br>
        {% else %}
        {% for ui in userinfo %}
            {% if not follow and member%}
                <a href="{% url 'follow' ui.id %}"><p><i class="fa fa-user-plus"></i><strong> Follow</strong></p></a><br>
            {% elif follow and member%}
                <a href="{% url 'follow' ui.id %}"><p><i class="fa fa-bell-slash-o"></i><strong> Unfollow</strong></p></a><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>

    <div class="upload">
        {% if not visitor %}
        <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo" accept="image/*" placeholder="Choose an image">
            <select name="category" id="select-catagory">
                {% for catg in category %}
                    <option value="{{catg}}">{{catg}}</option>
                {% endfor %}
            </select><br>
            <textarea name="caption" id="" cols="46" rows="3" placeholder=" Add a caption for the image"></textarea><br>
            <input type="checkbox" name="chbx" value="checked">
            <label> Add a new category </label>
            <input type="text" id="new-catagory" name="newcatg" placeholder="Category name">
            <button id="upload-icon">Upload <i class="fa fa-upload"></i></button><br>
        </form>
        {% endif %}
    </div>

    <div class="my-posts">
        {% if not visitor %}
        <h2><i class="fa fa-image"></i> My Posts</h2>
            {% if not images %}
                <p> ( You haven't posted anything )</p>
            {% endif %}
        {% else %}
        <h2><i class="fa fa-image"></i> {{userinfo.first}}'s Posts</h2>
        {% endif %}
    </div><br>
    
    <div class="grid-container">
        <div class="about-section">
        {% for ui in userinfo %}
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" id="profile-pic"><br><br>
            <p><i class="fa fa-user-o"></i><strong> Username: </strong>{{ui.user}}</p><br>
            <p><i class="fa fa-envelope-open-o"></i><strong> Email: </strong> {{ui.email}}</p><br>
            <p><i class="fa fa-info-circle"></i><strong> About: </strong> {{ui.about}}</p><br>
            <p><i class="fa fa-leaf"></i><strong> Contribution: </strong> {{images|length}} images</p><br>
            <p><i class="fa fa-feed"></i><strong> Followers: </strong>{{ui.followers.count}}, <strong>Followings: </strong>{{ui.followings.count}}</p><br>
        {% endfor %}
        {% if not visitor %}
            <a href="/editprofile/"><p><i class="fa fa-edit"></i><strong> Edit Profile</strong></p></a><br>
            {% else %}
            {% for ui in userinfo %}
                {% if not follow and member%} 
                    <a href="{% url 'follow' ui.id %}"><p><i class="fa fa-user-plus"></i><strong> Follow</strong></p></a><br>
                {% elif follow and member%}
                    <a href="{% url 'follow' ui.id %}"><p><i class="fa fa-bell-slash-o"></i><strong> Unfollow</strong></p></a><br>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="gallery-user-profile">
            {% for image in images %}
                <div class="repeat"> 
                    <p id="info">Catagory: {{image.catg}}</p>  
                    <p id="info"><i class="fa fa-calendar" aria-hidden="true"></i> {{image.date}}</p>
                    <a href="{{image.photo.url}}">
                        <img src="{{image.photo.url}}" alt=""><br>
                    </a>
                    {% if image.capt %}
                        <h5 id="info">{{image.capt}}</h5>
                    {% else %}
                        <h5 id="info">( No Caption )</h5>
                    {% endif %}
                    <a href="{{image.photo.url}}" download="{{image.photo.url}}" ><button id="dwn">Download <i class="fa fa-download"></i></button></a>
                    {% if not visitor %}
                    <a href="{% url 'delete' image.id 'dashboard'%}"><button id="del">Delete <i class="fa fa-trash"></i></button></a>  
                    {% endif %}
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>

    <br><br>
    <div class="my-posts">
        {% if not visitor %}
            <h2><i class="fa fa-image"></i> My Feeds</h2>
            {% if not feeds %}
                <p> ( You don't follow anyone )</p>
            {% endif %}
        {% endif %}
    </div><br>

    <div class="grid-container">
        <div >

        </div>

        <div class="gallery-user-profile">
            {% for image in feeds %}
                <div class="repeat"> 
                    <p id="info">Posted by: {{image.user}}</p>  
                    <p id="info"><i class="fa fa-calendar" aria-hidden="true"></i> {{image.date}}</p>
                    <a href="{{image.photo.url}}">
                        <img src="{{image.photo.url}}" alt=""><br>
                    </a>
                    {% if image.capt %}
                        <h5 id="info">{{image.capt}}</h5>
                    {% else %}
                        <h5 id="info">( No Caption )</h5>
                    {% endif %}
                    <a href="{{image.photo.url}}" download="{{image.photo.url}}" ><button id="dwn">Download <i class="fa fa-download"></i></button></a>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br>

{% include 'footer.html' %}