<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Homepage</title>
</head>
<body>
    <div class="app-name">
        <h2><i class="fa fa-camera-retro"></i> IMAGE SHARE</h2>
    </div>

    <div class="container">
        <a href="#"><i class="fa fa-user-circle"></i> {{user}}</a>
        <a href="/authuserhome/"><i class="fa fa-home"></i> HOME</a>
        <a href="/logout/"><i class="fa fa-sign-out"></i> LOG OUT</a>
    </div>

    <div class="mobile-dash">
        {% for ui in userinfo %}
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" id="profile-pic">
            <p><i class="fa fa-caret-right"></i><strong>Username: </strong>{{ui.user}}</p><br>
            <p><i class="fa fa-caret-right"></i><strong>Email: </strong> {{ui.email}}</p><br>
            <p><i class="fa fa-caret-right"></i><strong>About: </strong> {{ui.about}}</p><br>
        {% endfor %}
        {% if not visitor %}
            <a href="/editprofile/">Edit Profile <i class="fa fa-edit"></i></a><br>
        {% endif %}
    </div>

    <div class="upload">
        {% if not visitor %}
        <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo" accept="image/*" placeholder="Choose an image">
            <select name="category" id="select-catagory">
                {% for catg in category %}
                    <option value="{{catg}}">{{catg}}</option>
                {% endfor %}
            </select><br><br>
            <input type="checkbox" name="chbx" value="checked">
            <label for="vehicle1"> Add a new category </label>
            <input type="text" id="new-catagory" name="newcatg" placeholder=" add here..">
            <button id="upload-icon">Upload <i class="fa fa-upload"></i></button><br>

        </form>
        {% endif %}
    </div>

    <div class="my-posts">
        {% if not visitor %}
        <h2><i class="fa fa-image"></i> My Posts</h2>
        {% else %}
        <h2><i class="fa fa-image"></i> {{userinfo.first}}'s Posts</h2>
        {% endif %}
    </div><br>
    
    <div class="grid-container">
        <div class="about-section">
            {% for ui in userinfo %}
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" id="profile-pic"><br><br>
                <p><i class="fa fa-caret-right"></i><strong>Username: </strong>{{ui.user}}</p><br>
                <p><i class="fa fa-caret-right"></i><strong>Email: </strong> {{ui.email}}</p><br>
                <p><i class="fa fa-caret-right"></i><strong>About: </strong> {{ui.about}}</p><br>
            {% endfor %}
            {% if not visitor %}
                <a href="/editprofile/">Edit Profile <i class="fa fa-edit"></i></a><br>
            {% endif %}
        </div>

        <div class="gallery">
            {% for image in images %}
                <div class="repeat"> 
                    <p id="info">Catagory: {{image.catg}}</p>  
                    <p id="info">Posted on {{image.date}}</p>
                    <a href="{{image.photo.url}}">
                        <img src="{{image.photo.url}}" alt=""><br>
                    </a>
                    <a href="{{image.photo.url}}" download="{{image.photo.url}}" ><button id="dwn">Download <i class="fa fa-download"></i></button></a>
                    {% if not visitor %}
                    <a href="{% url 'delete' image.id %}"><button id="del">Delete <i class="fa fa-trash"></i></button></a>  
                    {% endif %}
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
</body>
</html>