<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="app-name">
        <h2><i class="fa fa-camera-retro"></i> IMAGE SHARE <i class="fa fa-share-alt"></i></h2>
    </div>

    <div class="container">
        <a href="#"><i class="fa fa-user-circle"></i> {{user}}</a>
        <a href="/home/"><i class="fa fa-home"></i> HOME</a>
        <a href="/logout/"><i class="fa fa-sign-out"></i> LOG OUT</a>
    </div>

    <div class="mobile-dash">
        <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" id="profile-pic"><br><br>
        <p><i class="fa fa-user-o"></i><strong> Username: </strong>{{ui.user}}{{userinfo.user}}</p><br>
        <form action="#" method="post">
            {% csrf_token %}
            <p><i class="fa fa-envelope-open-o"></i><strong> Email: </strong></p>
            <input type="text" name="email" placeholder="{{userinfo.email}}" value="{{userinfo.email}}"><br><br>
            <p><i class="fa fa-info-circle"></i><strong> About: </strong></p>
            <textarea name="about" id="" cols="25" rows="6">{{userinfo.about}}</textarea><br>
            <input type="submit" name="save" value="OK"> 
            <button class="save-btn" ><a href="/dashboard/"><i class="fa fa-save"></i> SAVE</a></button>
        </form>
    </div>

    <div class="upload">
        {% if not visitor %}
        <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo" accept="image/*" placeholder="Choose an image">
            <select name="category" id="select-catagory">
                {% for catg in category %}
                    <option value="{{catg}}">{{catg}}</option>
                {% endfor %}
            </select><br><br>
            <input type="checkbox" name="chbx" value="checked">
            <label for="vehicle1"> Add a new category </label>
            <input type="text" id="new-catagory" name="newcatg" placeholder=" add here..">
            <button id="upload-icon">Upload <i class="fa fa-upload"></i></button><br>
        </form>
        {% endif %}
    </div>

    <div class="grid-container">
        <div class="about-section">
                <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" id="profile-pic"><br><br>
                <p><i class="fa fa-user-o"></i><strong> Username: </strong>{{ui.user}}{{userinfo.user}}</p><br>
                <form action="#" method="post">
                    {% csrf_token %}
                    <p><i class="fa fa-envelope-open-o"></i><strong> Email: </strong></p>
                    <input type="text" name="email" placeholder="{{userinfo.email}}" value="{{userinfo.email}}"><br><br>
                    <p><i class="fa fa-info-circle"></i><strong> About: </strong></p>
                    <textarea name="about" id="" cols="25" rows="6">{{userinfo.about}}</textarea><br>
                    <input type="submit" name="save" value="OK"> 
                    <button class="save-btn" ><a href="/dashboard/"><i class="fa fa-save"></i> SAVE</a></button>
                </form>
        </div>

        <div class="gallery-user-profile">
            {% for image in images %}
                <div class="repeat"> 
                    <p id="info">Catagory: {{image.catg}}</p>  
                    <p id="info">Posted on {{image.date}}</p>
                    <a href="{{image.photo.url}}">
                        <img src="{{image.photo.url}}" alt=""><br>
                    </a>
                    <a href="{{image.photo.url}}" download="{{image.photo.url}}" ><button id="dwn">Download <i class="fa fa-download"></i></button></a>
                    {% if not visitor %}
                    <a href="{% url 'delete' image.id 'dashboard'%}"><button id="del">Delete <i class="fa fa-trash"></i></button></a>  
                    {% endif %}
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>