<div class="full-img" id="full-img-box">
    <span onclick="closeImg()">X</span>
    <img src="" alt="" id="fullImg">
</div>

<script>
    var inputImg=document.querySelector("#inputImg")
    var img=document.querySelector("#displayImg")
    var fullImgBox=document.getElementById(id="full-img-box")
    var fullImg=document.getElementById(id="fullImg") 

    inputImg.addEventListener("change",function(){
        const file=this.files[0]
        if(file){
            const reader=new FileReader();
            reader.onload=function(){
                const result=reader.result;
                img.src=result;
            };
            reader.readAsDataURL(file);
        }
    });
    
    function openFullImg(pic){
        fullImgBox.style.display="flex";
        fullImg.src=pic;
    }
    function closeImg(){
        fullImgBox.style.display="none";
    }

</script>

<div class="footer">
    <a href="https://www.linkedin.com/in/akash-sardar-118858184/" style="margin: 8px; text-decoration: none; color:rgb(0, 227, 235)" class="fa fa-linkedin"></a>
    <a href="https://github.com/ACashSardar" style="margin: 8px; text-decoration: none; color:rgb(255, 255, 255)" class="fa fa-github"></a>
    <a href="https://www.facebook.com/akash.sardar.1717" style="margin: 8px; text-decoration: none; color:rgb(150, 255, 0)" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/lazer.kitty/" style="margin: 8px; text-decoration: none; color:rgb(255, 0, 234)" class="fa fa-instagram"></a>
    <a href="https://twitter.com/AkashSa50571000" style="margin: 8px; text-decoration: none; color:rgb(0, 128, 248)" class="fa fa-twitter"></a>
    <br>
    <label style="color:white">Copyright © 2022 Akash Sardar, All rights reserved.</label><br>
</div>
</body>
</html>