{% include 'header.html' %}

<title>Homepage</title>
</head>
<body>
    <div class="app-name">
        <p><i class="fa fa-cloud-download"></i> Image Share <i class="fa fa-cloud-upload"></i></p>
    </div>

    <div class="container">
        {% if registered %}
        <a href="#"><i class="fa fa-user-circle"></i> {{user}}</a>
        <a href="/dashboard/"><i class="fa fa-address-card-o"></i> PROFILE</a>
        <a href="/logout/"><i class="fa fa-sign-out"></i> LOG OUT</a>
        {% else %}
        <a href="/signup/"><i class="fa fa-user-plus"></i> JOIN US</a>
        <a href="/login/"><i class="fa fa-sign-in"></i> LOG IN</a>
        {% endif %}
    </div>

    <div class="search-bar">
        <form action="/manualsearch/" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Search here by catagory name.." name="searchbar">
            <input type="submit" value="Search">
        </form>
    </div>
    <br>


    <div class="grid-container">
        <div class="category-list">
            <div class="my-posts">
                <p>Categories</p><br>
            </div>
            <div class="cat-tiles">
                <a href="{% url 'catgsearch' 'allimg' %}"><button  class="cat-items">All images</button></a>
                {% for catg in category %}
                <a href="{% url 'catgsearch' catg %}"><button class="cat-items">{{catg}}</button></a>
                {% endfor %}
            </div>
        </div>
        <div class="tiles">
            <div class="my-posts">
                <p>Click on the image to view full size</p><br>
            </div>
            {% if select%}
                <div class="photo_comments">
                    <div class="frame">
                        <img src="{{selectedimg.photo.url}}" alt="" onclick="openFullImg(this.src)">
                    </div>
                    <div class="comment-section">
                        {% if selectedimg.capt %}
                            <h3>{{selectedimg.capt}}</h3><br>
                        {% else %}
                            <h3>( No Caption )</h3><br>
                        {% endif %}
                        
                        <a href="{% url 'onclick' selectedimg.user %}">
                        <div class="pic-name-email">
                            <div class="section1">
                                <h1 style="color:white;">{{profile.user|upper|make_list|first}}</h1>
                            </div>
                            <div class="section2">
                                <label><strong>{{selectedimg.user.username}}</strong></label><br>
                                <label><i>{{profile.email}}</i></label>
                            </div>
                        </div></a>
                        <br>
                        <p>Followers: {{profile.followers.count}}, Followings: {{profile.followings.count}}</p><br>
                        <p>
                            <label>Posted on <br>{{selectedimg.date}}</label>
                        </p>
                        <br>
                        <p>
                            <label>Image Category: {{selectedimg.catg}}</label>
                        </p>
                        <br>
                        <a href="{{selectedimg.photo.url}}" download="{{selectedimg.photo.url}}" ><button id="dwn">Download <i class="fa fa-download"></i></button></a>
                        {% if not visitor %}
                        <a href="{% url 'delete' selectedimg.id 'homepage'%}"><button id="del">Delete <i class="fa fa-trash"></i></button></a> 
                        {% endif %} 
                    </div>
                </div>
            <div class="my-posts">
                <p>More images like this..</p>
            </div><br>
            {% endif %}
            <div class="gallery">
                {% for image in images %}
                    <div class="repeat">   
                        <a href="{% url 'selectimg' image.catg image.id %}">
                            <img src="{{image.photo.url}}" alt=""><br>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 
    <br><br>
{% include 'footer.html' %}