{% include 'header.html' %}
    <title>LOG IN Page</title>
  </head>

  <body class="custom-bg">
    <div class="app-name">
      <p><i class="fa fa-camera"></i> Image Share <i class="fa fa-share-alt"></i></p>
    </div>

    <div class="container">
      <a href="/"><i class="fa fa-home"></i> HOME</a>
      <a href="/signup/"><i class="fa fa-pencil-square-o"></i> SIGN UP</a>
    </div>

    <div class="user-forms">
      <h1>LOG-IN HERE</h1>
      <form method="post" action="/login/">
          {% csrf_token %} 
          <label>username</label>
          <input type="text" name="username" placeholder="Enter username"><br><br>
          <label>password</label>
          <input type="password" name="password" placeholder="Enter password"><br><br><br>
          <input class="btn btn-success" type="submit" value="LOGIN">
      </form><br>
      <p>Don't have an account yet? <a href="/signup">SIGN UP</a></p>
    </div>
    <br><br><br><br><br><br><br>
  </body>
</html>
