{% include 'header.html' %}
    <title>LOG IN Page</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid py-2">
        <a class="navbar-brand" id="site-name" href="#"
          ><i class="fa fa-fire"></i> Image Share
        </a>

        <button
          class="navbar-toggler"  
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <form
          class="d-flex m-auto bg-info"
          role="search"
          style="border-radius: 5px; width: 75%"
          action="/manualsearch/"
          method="post"
        >
          {% csrf_token %}
          <input
            class="form-control me-0"
            type="search"
            placeholder="Search HD wallpapers here"
            aria-label="Search"
            style="border-radius: 2px"
            name="searchbar"
          />
          <button class="btn text-light btn-info" type="submit">
            <i class="fa fa-search"></i>
          </button>
          </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" href="/"> <i class="fa fa-home"></i> HOME </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup/"> <i class="fa fa-pencil-square-o"></i> SIGN UP </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid bg-info">
      <div class="row justify-content-center my-5">
        <div class="card auth-card" style="width: 25rem;">
          <div class="card-body">
            <h3 class="card-title">LOG-IN HERE</h3>
            <hr>
            <form method="post" action="/login/">
              {% csrf_token %} 
              <p class="card-text signup-field-name">Username</p>
              <input type="text" name="username" placeholder="Enter username" class="login-input-box" style="  border: 0px;
              border-bottom: 1px solid #333;border-radius:0"><br>
              <p class="card-text signup-field-name">Password</p>
              <input type="password" name="password" placeholder="Enter password" class="login-input-box"><br><br>
              <input class="btn btn-info text-light" type="submit" value="LOGIN">
            </form>
            <p>Don't have an account yet? <a href="/signup">SIGN UP</a></p>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}