{% include 'header.html' %}
    <title>SIGN UP Page</title>
  </head>
  <body>

    <div class="app-name">
      <p><i class="fa fa-cloud-download"></i> Image Share <i class="fa fa-cloud-upload"></i></p>
    </div>
    
    <div class="container">
      <a href="/"><i class="fa fa-home"></i> HOME</a>
      <a href="/login/"><i class="fa fa-sign-in"></i> LOG IN</a>
    </div>
    <div class="user-forms">
        <h1>SIGN UP PAGE</h1>
  
        <form method="post" action="/signup/">
            {% csrf_token %} 
            {% for field in form %}
                <label>{{field.html_name}}</label><br>
                {{field}}<br><br>
            {% endfor %}<br>
            <input type="submit" value="CREATE ACCOUNT">
        </form><br>
        <p>*Note: 
          Your password can’t be too similar to your other personal information.
          Your password must contain at least 8 characters.
          Your password can’t be a commonly used password.
          Your password can’t be entirely numeric.</p><br>
        <p>Already have an account? <a href="/login">LOG IN</a></p>
    </div>
    <br><br>
  </body>
</html>
